# Скопировать в deploy/host10/.env на машине 192.168.1.10

AUTH_USER=admin
AUTH_PASSWORD=changeme

CROWD_SECRETS_FILE=../../back-end/crowd-detection/secrets/secrets.json
FIGHT_CONFIG_FILE=../../back-end/fight-detection/secrets/config.yaml

CROWD_API_PORT=8001
FIGHT_API_PORT=8002
