# Скопировать в deploy/host20/.env на машине 192.168.1.20

AUTH_USER=admin
AUTH_PASSWORD=changeme

FALL_CONFIG_FILE=../../back-end/fall-detection/secrets/config.yaml

FRONTEND_PORT=80
FALL_API_PORT=8003
